* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-color:#302b63 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#home{
  background-color: darkgrey;
    padding: 20px;
    border-radius: 20px;
}